<h1 mat-dialog-title>Team Details - {{ data.name }}</h1>

<div mat-dialog-content>
  <img src="{{ data.foto }}" alt="Team Foto" class="team-foto" />

  <!-- Players Table -->
  <h2>Spieler</h2>
  <table mat-table [dataSource]="data.players" class="mat-elevation-z8">
    <tr
      mat-header-row
      class="table-header-primary"
      *matHeaderRowDef="playerColumns"
    ></tr>
    <tr mat-row *matRowDef="let row; columns: playerColumns"></tr>

    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let player">
        {{ player.number == 0 ? "?" : player.number }}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let player">
        {{ player.firstName }} {{ player.lastName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>Position</th>
      <td mat-cell *matCellDef="let player">{{ player.position }}</td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef>Jahrgang</th>
      <td mat-cell *matCellDef="let player">
        {{ player.year == 0 ? "?" : player.year }}
      </td>
    </ng-container>
  </table>

  <!-- Coaches Table -->
  <h2>Trainer*innen & Betreuer*innen</h2>
  <table mat-table [dataSource]="data.coaches" class="mat-elevation-z8">
    <tr
      mat-header-row
      class="table-header-primary"
      *matHeaderRowDef="coachColumns"
    ></tr>
    <tr mat-row *matRowDef="let row; columns: coachColumns"></tr>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let coach">
        {{ coach.firstName }} {{ coach.lastName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Funktion</th>
      <td mat-cell *matCellDef="let coach">{{ coach.role }}</td>
    </ng-container>
  </table>
</div>

<div mat-dialog-actions>
  <button mat-button color="primary" [mat-dialog-close]="true">Close</button>
</div>
