<div>
  <h1>Live</h1>
  <hr />
  <b> Hier findet ihr alle live informationen zum Turnier. </b>
</div>

<mat-tab-group class="tabGroupContainer">
  <mat-tab label="Gruppe A">
    <app-group [group]="GROUP_A"></app-group>
  </mat-tab>
  <mat-tab label="Gruppe B">
    <app-group [group]="GROUP_B"></app-group>
  </mat-tab>
  <mat-tab label="Gruppe C">
    <app-group [group]="GROUP_C"></app-group>
  </mat-tab>
  <mat-tab label="Gruppe D">
    <app-group [group]="GROUP_D"></app-group>
  </mat-tab>
</mat-tab-group>

<h1>Live Ticker</h1>
<p>
  Live Ticker in neuem Tab öffnen -
  <a
    href="https://wvv.sams-ticker.de/matchSeries/74e8ecbd-ac5d-43b5-8dd5-94331f6eab11"
    target="_blank"
  >
    hier klicken...
  </a>
</p>
<div class="tickerFrame">
  <iframe
    src="https://wvv.sams-ticker.de/matchSeries/74e8ecbd-ac5d-43b5-8dd5-94331f6eab11"
    frameBorder="0"
    width="100%"
    height="1000px"
  ></iframe>
</div>

<div>
  <h1>Spielplan</h1>

  <div class="pdf-preview-container">
    <iframe
      src="/assets/spielplan_wdm.pdf"
      frameborder="0"
      width="100%"
      height="500px"
    ></iframe>
  </div>

  <div>
    <h1>Ergebnissdienst des WVV</h1>
    <h2>Westdeutsche Meisterschaft & Quali Runde</h2>
    <p>
      Die Ergebnisse der Qaulifikationsrunden und der Westdeutschen
      Meisterschaft
    </p>
    <div class="info-box">
      <mat-icon
        aria-hidden="false"
        aria-label="Tip light bulb"
        fontIcon="lightbulb"
      ></mat-icon>
      <p>
        Die Westdeutschen Meisterschaften sind ganz am Ende der unten
        angezeigten Ergebnisse zu finden!
      </p>
    </div>
    <iframe
      src="https://ergebnisdienst.volleyball.nrw/cms/home/jugend/wdm/wdm_u20/maennlich.xhtml?LeaguePresenter.view=matches&LeaguePresenter.matchSeriesId=52773209"
      width="100%"
      height="600"
      style="border: none"
    ></iframe>
    <a
      href="https://ergebnisdienst.volleyball.nrw/cms/home/jugend/wdm/wdm_u20/maennlich.xhtml?LeaguePresenter.view=matches&LeaguePresenter.matchSeriesId=52773209"
      target="_blank"
      rel="noopener noreferrer"
      mat-raised-button
      color="primary"
      >In neuem Tab öffnen</a
    >

    <h2>NRW Liga</h2>
    <p>Die Ergebnisse der abgelaufenen NRW Liga</p>
    <iframe
      src="https://ergebnisdienst.volleyball.nrw/cms/home/jugend/u20/u20_maennlich/nrw_liga.xhtml"
      width="100%"
      height="600"
      style="border: none"
    ></iframe>
    <a
      href="https://ergebnisdienst.volleyball.nrw/cms/home/jugend/u20/u20_maennlich/nrw_liga.xhtml"
      target="_blank"
      rel="noopener noreferrer"
      mat-raised-button
      color="primary"
      >In neuem Tab öffnen</a
    >
  </div>
</div>
