// Responsive adjustments
header
p
    font-style: italic

.header-content
    display: flex
    align-items: center
    justify-content: space-between
    flex-direction: row-reverse
    padding-top: 30px

.portrait-container
    flex: 1
    display: flex
    justify-content: center

.title-container
    flex: 1
    text-align: center
    padding: 0 20px

.portrait
    width: 150px
    height: auto
    border-radius: 50%
    display: block

.text-container
    text-align: justify

@media screen and (max-width: 768px)
.header-content
    justify-content: center

.portrait-container
    flex-basis: 100%
    text-align: center

.title-container
    // If you have styles for .title-container under this breakpoint, they should be here

.portrait
    width: 100px

.text-container
    flex-basis: 100%
    text-align: center
