<div>
  <h1>Grußworte</h1>

  <hr />

  <div>
    <b>Hier findest du einige Grußworte zur WDM U20</b>
  </div>

  <div class="header-content">
    <div class="portrait-container">
      <img
        src="assets/hubert_martens.jpg"
        alt="Portrait of Hubert Martens"
        class="portrait"
      />
    </div>
    <div class="title-container">
      <h2>Hubert Martens</h2>
      <p>Präsident<br />Westdeutscher Volleyball Verband (WVV)</p>
    </div>
  </div>
  <div class="text-container">
    <p>
      Im Namen des Westdeutschen Volleyball-Verbandes begrüße ich die
      qualifizierten Mannschaften, Schiedsrichter, Eltern und Gäste ganz
      herzlich zur Westdeutschen Jugendmeisterschaft 2024 der männlichen U20 in
      Sankt Augustin.
    </p>

    <p>
      Die besten Teams aus Nordrhein-Westfalen haben sich für die
      Landesmeisterschaften qualifiziert und spielen um den Titel des
      Westdeutschen Meisters der männlichen U20. Der Westdeutsche Meister sowie
      der Westdeutsche Vizemeister qualifizieren sich für die Deutschen
      Meisterschaften am 11./12. Mai 2024 in Ludwigsburg in Baden-Württemberg
      und werden dort Nordrhein-Westfalen vertreten.
    </p>

    <p>
      Eine gute Jugendarbeit und die Förderung junger Talente sind für die
      sportlichen Erfolge im Verein und damit auch für unseren Landesverband
      besonders wichtig. Ein herzliches Dankeschön den vielen Trainerinnen und
      Trainer und ihrem Umfeld für das hohe Engagement.
    </p>

    <p>
      Auch in Zukunft bleibt die leistungsorientierte Jugendarbeit ein
      wesentlicher Schwerpunkt der Arbeit im WVV. Gerne stehen unsere
      Landestrainer und Nachwuchskoordinatoren zur Unterstützung zur Verfügung.
    </p>

    <p>
      Damit allen Teilnehmern die Veranstaltung noch lange in positiver
      Erinnerung bleibt brauchen wir engagierte Ausrichter. Mit einem tollen
      Team sind diese Garantie für eine gelungene Westdeutsche
      Jugendmeisterschaft.
    </p>

    <p>
      Ganz herzlich danke sagen möchte ich daher den Rhein-Sieg Volleys unter
      der Leitung von Frank Stommel für die diesjährige Ausrichtung der
      Westdeutschen Jugendmeisterschaft der männlichen U20.
    </p>

    <p>Im Sinne des FAIR PLAY wünsche ich allen spannende Spiele.</p>

    <p>Ihr<br />Hubert Martens<br />Präsident</p>
  </div>

  <hr />

  <div class="header-content">
    <div class="portrait-container">
      <img
        src="assets/ute_zahlten.jpg"
        alt="Portrait of Hubert Martens"
        class="portrait"
      />
    </div>
    <div class="title-container">
      <h2>Ute Zahlten</h2>
      <p>Jugendwartin<br />Westdeutscher Volleyball Verband (WVV)</p>
    </div>
  </div>

  <div class="text-container">
    <p>Liebe Volleyballfreund*innen,</p>

    <p>
      diese Westdeutsche Jugendmeisterschaft gilt als ein Meilenstein in der
      sportlichen Karriere, ist motivierend für die nächsten Schritte und ich
      kann zum Erreichen nur herzlichst gratulieren!
    </p>

    <p>
      Fairplay und das Thema “Sexualisierte Gewalt im Sport” sind weiterhin
      wichtige Themen. Es ist von entscheidender Bedeutung, dass diese Themen im
      Gespräch bleiben, um sicherzustellen, dass alle Beteiligten in einer
      sicheren und respektvollen Umgebung spielen können.
    </p>

    <p>
      Deshalb wünsche ich mir einen fairen Umgang miteinander ohne Einsatz der
      eingeführten „Blauen Karte“ für Eltern und Zuschauer*innen sowie das
      richtige „Bauchgefühl“ bei den Aktivitäten in den vielen Stunden rund um
      unseren Lieblingssport.
    </p>

    <p>
      Ich danke den Trainer*innen und Eltern, die so viel Zeit und Engagement
      investiert haben, um die Jugendlichen zu diesem Ziel zu begleiten.
    </p>

    <p>
      Ich möchte den Ehrenamtlichen danken, die so hart gearbeitet haben, um
      diese Meisterschaft zu einem unvergesslichen Erlebnis zu machen.
    </p>

    <p>
      Ich wünsche allen Beteiligten viel Erfolg und hoffe, dass die Wettbewerbe
      unabhängig von Platzierungen in bester Erinnerung bleiben mögen und dass
      es verletzungsfreie Spiele gibt.
    </p>

    <p>Eure Jugendwartin<br />Ute Zahlten</p>
  </div>

  <hr />

  <div class="header-content">
    <div class="portrait-container">
      <img
        src="assets/frank_stommel.jpg"
        alt="Portrait of Hubert Martens"
        class="portrait"
      />
    </div>
    <div class="title-container">
      <h2>Frank Stommel</h2>
      <p>1. Vorsitzender<br />Rhein-Sieg Volleys</p>
    </div>
  </div>

  <div class="text-container">
    <p>Liebe Volleyballfreunde,</p>
    <p>
      zur Westdeutschen Meisterschaft der männlichen U20 möchte ich euch, vor
      allem die Spieler, Eltern, Trainer und Betreuer, ganz herzlich begrüßen.
    </p>
    <p>
      Aus ganz NRW reisen wieder Mannschaften für zwei Tage nach Sankt Augustin,
      um den Westdeutschen Meister zu ermitteln. Eine Besonderheit in diesem
      Jahr ist, das 16 Teams (statt bisher 12) antreten und mit dem Landeskader
      2009/2010 die Auswahlmannschaft des WVV erstmalig per Wild-Card teilnimmt.
    </p>
    <p>
      Allein mit der Qualifikation für diese WVJ-Meisterschaften seid ihr
      bereits alle Gewinner.
    </p>
    <p>
      Wir richten nun bereits zum sechsten Mal eine Westdeutsche Meisterschaft
      aus. Jugendarbeit und die Förderung unseres Volleyballnachwuchses liegt
      uns seit vielen Jahren am Herzen und ist das Fundament eines jeden
      Vereins. Daher freut es mich besonders, dass wir wieder ein tolles
      Orga-Team haben, das für einen hoffentlich reibungslosen Ablauf sorgen
      wird.
    </p>
    <p>
      Unserem erfolgreichen Trainer- und Vorstandsteam sei an dieser Stelle ein
      ganz besonderer Dank für die so wertvolle Arbeit ausgesprochen.
    </p>
    <p>
      Allen Spielern, Trainern, Betreuern, Familien und Zuschauern sowie dem
      gesamten Orga-Team wünsche ich ein schönes und faires Turnier mit
      spannenden Spielen. Bleibt alle gesund und dann sehen wir uns Anfang April
      bei den Rhein-Sieg Volleys.
    </p>
    <p>Frank Stommel</p>
  </div>
</div>
