<div>
  <h1>Grußworte</h1>
  <h2>zur WDM mU20</h2>

  <hr />

  <mat-card>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Norbert Büscher</mat-card-title>
        <mat-card-subtitle>Bürgermeister Gemeinde Much</mat-card-subtitle>
      </mat-card-title-group>
      <div class="card-image-container">
        <img
          src="assets/norbert_buescher.jpg"
          alt="Portrait of Norbert Büscher"
          mat-card-lg-image
        />
      </div>
    </mat-card-header>
    <mat-card-content class="card-content">
      <p>
        Liebe Verantwortliche der Rhein-Sieg Volleys Much & Buisdorf, liebe
        Volleyballer, liebe Zuschauer,
      </p>
      <p>
        herzlich willkommen zur Westdeutschen Volleyballmeisterschaft männlich
        U20. Es ist mir eine große Freude, Sie alle hier in Sankt Augustin
        begrüßen zu dürfen, um die talentierten jungen Athletinnen und Athleten
        bei diesem spannenden Wettkampf zu unterstützen.
      </p>
      <p>
        Der Sport hat die einzigartige Fähigkeit, Menschen zusammenzubringen und
        Gemeinschaften zu stärken. Diese Meisterschaft bietet eine herausragende
        Gelegenheit, den Teamgeist, die Fairness und den Ehrgeiz unserer jungen
        Sportlerinnen und Sportler zu erleben. Es ist beeindruckend zu sehen,
        mit welchem Einsatz und Enthusiasmus sie sich dem Volleyballsport
        widmen.
      </p>
      <p>
        Ein herzlicher Dank gilt allen Organisatoren, Helfern, Trainern und
        Eltern, die dazu beigetragen haben, dieses Ereignis möglich zu machen.
        Ihr Engagement und Ihre Unterstützung sind von unschätzbarem Wert und
        tragen dazu bei, dass solche Veranstaltungen erfolgreich durchgeführt
        werden können.
      </p>
      <p>
        Ich wünsche allen teilnehmenden Mannschaften viel Erfolg und spannende
        Spiele. Möge diese Meisterschaft nicht nur ein sportlicher Wettstreit
        sein, sondern auch eine Gelegenheit, Freundschaften zu schließen und
        unvergessliche Erlebnisse zu teilen.
      </p>
      <p>
        Möge der beste Teamgeist und Fair Play siegen. Viel Spaß und eine
        erfolgreiche Westdeutsche Volleyballmeisterschaft der U20.
      </p>
      <p>
        Allen Spielern, Trainern, Betreuern, Familien und Zuschauern sowie dem
        gesamten Orga-Team wünsche ich ein schönes und faires Turnier mit
        spannenden Spielen. Bleibt alle gesund und dann sehen wir uns Anfang
        April bei den Rhein-Sieg Volleys.
      </p>
      <p>
        Mit sportlichen Grüßen <br />
        Norbert Büscher<br />
        <br />
        Bürgermeister<br />
        Gemeinde Much
      </p>
    </mat-card-content>
  </mat-card>
  <hr />

  <mat-card>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Max Leitterstorf</mat-card-title>
        <mat-card-subtitle
          >Bürgermeister Stadt Sankt Augustin</mat-card-subtitle
        >
      </mat-card-title-group>
      <div class="card-image-container">
        <img
          src="assets/leitterstorf.jpg"
          alt="Foto von Max Leitterstorf"
          mat-card-lg-image
        />
      </div>
    </mat-card-header>
    <mat-card-content class="card-content">
      <p>Liebe Volleyballfans,</p>
      <p>
        ich begrüße Sie alle sehr herzlich zu den diesjährigen Westdeutschen
        Volleyball-Meisterschaften der männlichen U20 in Sankt Augustin. Für
        unsere Stadt ist es eine besondere Freude, erneut Austragungsort dieses
        bedeutenden Turniers zu sein.
      </p>
      <p>
        Mit den Rhein-Sieg Volleys hat ein Verein die Ausrichtung übernommen,
        der großen Wert auf die Jugend- und Nachwuchsförderung legt. Der
        verdiente Lohn für das intensive Training waren bereits mehrere
        Bezirksmeistertitel im Rheinland und Westdeutsche Meistertitel. Die U14
        erreichte bei ihrer ersten Teilnahme an den Deutschen Meisterschaften
        einen beachtlichen 8. Platz und ein besonderer Erfolg ist der Sprung von
        drei Jugendspielern in den NRW Kader, der Auswahlmannschaft des
        Westdeutschen Volleyball Verbandes.
      </p>
      <p>
        Solch hervorragende Leistungen lassen sich nur mit einer fundierten
        Nachwuchsarbeit erzielen, in der nicht nur die sportlichen Grundlagen
        sondern auch Werte wie Fairness, Teamgeist und Respekt vermittelt
        werden. Hierfür verdient das Trainerteam große Anerkennung.
      </p>
      <p>
        Liebe Fans, liebe Gäste, freuen Sie sich mit mir auf ein spannendes
        Turnier und drücken Sie Ihrer Mannschaft die Daumen. Dem
        Organisationsteam wünsche ich einen gelungenen Verlauf der Veranstaltung
        und allen Teams den erhofften sportlichen Erfolg.
      </p>
      <p>
        Ihr <br />
        Max Leitterstorf<br />
        <br />
        Bürgermeister<br />
        Stadt Sankt Augustin
      </p>
    </mat-card-content>
  </mat-card>
  <hr />

  <mat-card>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Hubert Martens</mat-card-title>
        <mat-card-subtitle
          >Präsident Westdeutscher Volleyball Verband (WVV)</mat-card-subtitle
        >
      </mat-card-title-group>
      <div class="card-image-container">
        <img
          src="assets/hubert_martens.jpg"
          alt="Portrait of Hubert Martens"
          mat-card-lg-image
        />
      </div>
    </mat-card-header>
    <mat-card-content class="card-content">
      <p>
        Im Namen des Westdeutschen Volleyball-Verbandes begrüße ich die
        qualifizierten Mannschaften, Schiedsrichter, Eltern und Gäste ganz
        herzlich zur Westdeutschen Jugendmeisterschaft 2024 der männlichen U20
        in Sankt Augustin.
      </p>

      <p>
        Die besten Teams aus Nordrhein-Westfalen haben sich für die
        Landesmeisterschaften qualifiziert und spielen um den Titel des
        Westdeutschen Meisters der männlichen U20. Der Westdeutsche Meister
        sowie der Westdeutsche Vizemeister qualifizieren sich für die Deutschen
        Meisterschaften am 11./12. Mai 2024 in Ludwigsburg in Baden-Württemberg
        und werden dort Nordrhein-Westfalen vertreten.
      </p>

      <p>
        Eine gute Jugendarbeit und die Förderung junger Talente sind für die
        sportlichen Erfolge im Verein und damit auch für unseren Landesverband
        besonders wichtig. Ein herzliches Dankeschön den vielen Trainerinnen und
        Trainer und ihrem Umfeld für das hohe Engagement.
      </p>

      <p>
        Auch in Zukunft bleibt die leistungsorientierte Jugendarbeit ein
        wesentlicher Schwerpunkt der Arbeit im WVV. Gerne stehen unsere
        Landestrainer und Nachwuchskoordinatoren zur Unterstützung zur
        Verfügung.
      </p>

      <p>
        Damit allen Teilnehmern die Veranstaltung noch lange in positiver
        Erinnerung bleibt brauchen wir engagierte Ausrichter. Mit einem tollen
        Team sind diese Garantie für eine gelungene Westdeutsche
        Jugendmeisterschaft.
      </p>

      <p>
        Ganz herzlich danke sagen möchte ich daher den Rhein-Sieg Volleys unter
        der Leitung von Frank Stommel für die diesjährige Ausrichtung der
        Westdeutschen Jugendmeisterschaft der männlichen U20.
      </p>

      <p>Im Sinne des FAIR PLAY wünsche ich allen spannende Spiele.</p>

      <p>Ihr<br />Hubert Martens<br />Präsident</p>
    </mat-card-content>
  </mat-card>
  <hr />

  <mat-card>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title> Ute Zahlten </mat-card-title>
        <mat-card-subtitle>
          Jugendwartin Westdeutscher Volleyball Verband (WVV)
        </mat-card-subtitle>
      </mat-card-title-group>
      <div class="card-image-container">
        <img
          mat-card-lg-image
          src="assets/ute_zahlten.jpg"
          alt="Portrait of Hubert Martens"
        />
      </div>
    </mat-card-header>

    <mat-card-content class="card-content">
      <p>Liebe Volleyballfreund*innen,</p>

      <p>
        diese Westdeutsche Jugendmeisterschaft gilt als ein Meilenstein in der
        sportlichen Karriere, ist motivierend für die nächsten Schritte und ich
        kann zum Erreichen nur herzlichst gratulieren!
      </p>

      <p>
        Fairplay und das Thema “Sexualisierte Gewalt im Sport” sind weiterhin
        wichtige Themen. Es ist von entscheidender Bedeutung, dass diese Themen
        im Gespräch bleiben, um sicherzustellen, dass alle Beteiligten in einer
        sicheren und respektvollen Umgebung spielen können.
      </p>

      <p>
        Deshalb wünsche ich mir einen fairen Umgang miteinander ohne Einsatz der
        eingeführten „Blauen Karte“ für Eltern und Zuschauer*innen sowie das
        richtige „Bauchgefühl“ bei den Aktivitäten in den vielen Stunden rund um
        unseren Lieblingssport.
      </p>

      <p>
        Ich danke den Trainer*innen und Eltern, die so viel Zeit und Engagement
        investiert haben, um die Jugendlichen zu diesem Ziel zu begleiten.
      </p>

      <p>
        Ich möchte den Ehrenamtlichen danken, die so hart gearbeitet haben, um
        diese Meisterschaft zu einem unvergesslichen Erlebnis zu machen.
      </p>

      <p>
        Ich wünsche allen Beteiligten viel Erfolg und hoffe, dass die
        Wettbewerbe unabhängig von Platzierungen in bester Erinnerung bleiben
        mögen und dass es verletzungsfreie Spiele gibt.
      </p>

      <p>Eure Jugendwartin<br />Ute Zahlten</p>
    </mat-card-content>
  </mat-card>
  <hr />

  <mat-card>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Frank Stommel</mat-card-title>
        <mat-card-subtitle
          >1. Vorsitzender Rhein-Sieg Volleys</mat-card-subtitle
        >
      </mat-card-title-group>
      <div class="card-image-container">
        <img
          src="assets/frank_stommel.jpg"
          alt="Portrait of Hubert Martens"
          mat-card-lg-image
        />
      </div>
    </mat-card-header>
    <mat-card-content class="card-content">
      <p>Liebe Volleyballfreunde,</p>
      <p>
        zur Westdeutschen Meisterschaft der männlichen U20 möchte ich euch, vor
        allem die Spieler, Eltern, Trainer und Betreuer, ganz herzlich begrüßen.
      </p>
      <p>
        Aus ganz NRW reisen wieder Mannschaften für zwei Tage nach Sankt
        Augustin, um den Westdeutschen Meister zu ermitteln. Eine Besonderheit
        in diesem Jahr ist, das 16 Teams (statt bisher 12) antreten und mit dem
        Landeskader 2009/2010 die Auswahlmannschaft des WVV erstmalig per
        Wild-Card teilnimmt.
      </p>
      <p>
        Allein mit der Qualifikation für diese WVJ-Meisterschaften seid ihr
        bereits alle Gewinner.
      </p>
      <p>
        Wir richten nun bereits zum sechsten Mal eine Westdeutsche Meisterschaft
        aus. Jugendarbeit und die Förderung unseres Volleyballnachwuchses liegt
        uns seit vielen Jahren am Herzen und ist das Fundament eines jeden
        Vereins. Daher freut es mich besonders, dass wir wieder ein tolles
        Orga-Team haben, das für einen hoffentlich reibungslosen Ablauf sorgen
        wird.
      </p>
      <p>
        Unserem erfolgreichen Trainer- und Vorstandsteam sei an dieser Stelle
        ein ganz besonderer Dank für die so wertvolle Arbeit ausgesprochen.
      </p>
      <p>
        Allen Spielern, Trainern, Betreuern, Familien und Zuschauern sowie dem
        gesamten Orga-Team wünsche ich ein schönes und faires Turnier mit
        spannenden Spielen. Bleibt alle gesund und dann sehen wir uns Anfang
        April bei den Rhein-Sieg Volleys.
      </p>
      <p>Frank Stommel</p>
    </mat-card-content>
  </mat-card>
</div>
