/* Style for the banner image */
/* Style and position the countdown */
.banner
	max-width: 100%
	height: auto
	display: block

.countdown
	font-size: 40px
	padding: 15px
	border-radius: 5px
	margin-top: 20px

.intro-text
	font-size: 25px
	padding: 15px
	border-radius: 5px
	margin-top: 20px
