<div class="intro-text">
  <p>
    Hier findet ihr alles rund um die Westdeutsche Meisterschaft der männlichen
    U20 - 2024
  </p>
  <p>
    Wir können leider nur zwei Streams stellen. Auf dem Kanal
    <a href="https://twitch.tv/rsvfeld2">RSVFeld1</a> wird Feld 1 und 2
    übertragen. Auf dem Kanal
    <a href="https://twitch.tv/rsvfeld3">RSVFeld2</a> wird Feld 3 und 4
    übertragen.
  </p>
</div>

<img src="assets/banner.png" alt="Banner" class="banner" />

<mat-divider class="divider"></mat-divider>

<div class="pdf-preview-container">
  <iframe
    #heft_iframe
    src="/assets/wdm_2024_heft.pdf"
    frameborder="0"
    width="100%"
    height="500px"
  ></iframe>
</div>

<button mat-raised-button color="primary" (click)="downloadPDF()">
  Das Heft zur WDM als PDF herunterladen
</button>
