<img src="assets/banner.png" alt="Banner" class="banner" />
<mat-divider class="divider"></mat-divider>
<h1>Fotos vom Wochenende</h1>

<p>Ihr könnt die Fotos anschauen und runterladen unter folgendem Link:<br /></p>
<a
  href="https://bimkoeln-my.sharepoint.com/:f:/g/personal/frank_stommel_baucon-koeln_de/Ek2W6T4xYHxMuQiXsqRDX24BtYEPpOjhlCwrgj-7vRiyaA?e=WJqfKc"
  >Fotos</a
>
<p>Bitte zeitnah die Fotos runterladen, die ihr für euch nutzen möchtet.</p>

<mat-divider class="divider"></mat-divider>

<div class="pdf-preview-container">
  <iframe
    #heft_iframe
    src="/assets/wdm_2024_heft.pdf"
    frameborder="0"
    width="100%"
    height="500px"
  ></iframe>
</div>

<button mat-raised-button color="primary" (click)="downloadPDF()">
  Das Heft zur WDM als PDF herunterladen
</button>
